<form method="POST" action="/home">
  <input placeholder="username" autocomplete="off" name="username">
  <input placeholder="password" type="password" name="password">
  <button>send data to srv</button>
</form>



<% try{ %>
  <% console.log(user); %>
  <h1>The user is <%= user %></h1>
<%}catch(err){console.log("error is: "+ err)} %>